<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/templatemo-chain-app-dev.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/owl.css') }}">

    <title>TheChamps</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{ url_for('main.index') }}" class="logo">
              <img src="{{ url_for('static', filename='PageOff/assets/images/cc.png') }}" alt="Chain App Dev" >
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="{{ url_for('main.index') }}" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="{{ url_for('main.index') }}#services">Services</a></li>
                <li class="scroll-to-section"><a href="{{ url_for('main.index') }}#members">Members</a></li>
              <li class="scroll-to-section"><a href="{{ url_for('main.index') }}#price">Pricing</a></li>

            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
    {% block head %}

    {% endblock %}
</head>
<body>
    {% block body %}

    {% endblock %}

   <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clmtrackr/1.1.2/clmtrackr.min.js"></script>



</body>
</html>