<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/Campfire.css') }}">

</head>
<body>

<div class="stage">
  <div class="campfire">
    <div class="sparks">
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
      <div class="spark"></div>
    </div>
    <div class="logs">
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
      <div class="log">
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
        <div class="streak"></div>
      </div>
    </div>
    <div class="sticks">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
    </div>
    <div class="fire">
      <div class="fire__red">
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
      </div>
      <div class="fire__orange">
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
      </div>
      <div class="fire__yellow">
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
      </div>
      <div class="fire__white">
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
        <div class="flame"></div>
      </div>
    </div>
  </div>
</div>




<div class="buttons-wrapper">
<button id="btn">Make Me Sing</button>
<div id="myDIV"></div>
<div class="loading-bar"></div>
<div class="counter"></div>

</div>



<div class="wrapper">
<div id="text"></div>

<!--  Head -->
  <div class="hat-piece"></div>
  <div class="hat-line" ></div>
  <div class="hat-head"></div>
  <div class="ear"></div>
  <div class="head"></div>
  <div class="face"></div>
  <div class="brow-left"></div>
  <div class="brow-right"></div>
  <div class="eye-left"></div>
  <div class="eye-right"></div>
  <div class="nose"></div>
  <div class="mustache-base"></div>
  <div id="mouth"></div>
<div id="angry-mouth-invisible"></div>
 <div class="bicept"></div>

  <!--  Upper Body -->

   <div class="neck"></div>
   <div class="body"></div>
   <div class="vest-left"></div>
   <div class="vest-right"></div>
   <div class="star-five"></div>
   <div class="belt"></div>
   <div class="buckle"></div>

  <!--  Lower Body -->

  <div class="left-leg"></div>
  <div class="right-leg"></div>
  <div class="boot-left"></div>
  <div class="boot-right"></div>

    <!--  Left arm hand and fingers -->
  <div class="left-arm"></div>
  <div class="left-elbow"></div>
  <div class="left-wrist"></div>
  <div class="left-fingers"></div>






<!--  right arm hand and fingers -->
  <div class="right-arm"></div>
  <div class="right-elbow"></div>
  <div class="right-wrist"></div>
  <div class="right-hand"></div>
  <div class="right-finger-1"></div>
  <div class="right-finger-2"></div>
  <div class="right-finger-3"></div>
  <div class="right-finger-4"></div>


  <div id="test"></div>











</div>








<audio id="background-music" src="{{ url_for('static', filename='PageOff/assets/music/musicCamp.mp3') }}" loop></audio>
<button id="play-music">Play Music</button>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var audio = document.getElementById('background-music');
    var playButton = document.getElementById('btn');

    playButton.addEventListener('click', function() {
      audio.volume = 0.5;
      audio.play().catch(function(error) {
        console.log('Audio playback was prevented:', error);
      });
    });
  });
</script>



</body>
</html>