{% extends 'sidebar.html' %}

{% block head %}
<title>Task Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/GameSelectTest.css') }}">

{% endblock %}

{% block body %}

    <div class="CardsBody">
    <a href="{{ url_for('main.MemoryGame') }}" alt="Mythrill">
  <div class="card">
    <div class="wrapper">
      <img src="{{ url_for('static', filename='PageOff/assets/images/memoryGameB.jpg') }}" class="cover-image" />
    </div>
  </div>
</a>

<a href="{{ url_for('main.Tetris') }}" alt="Mythrill" >
  <div class="card">
    <div class="wrapper">
      <img src="{{ url_for('static', filename='PageOff/assets/images/tetrisbaack.jpg') }}" class="cover-image" />
    </div>
  </div>
</a>

    <a href="{{ url_for('main.Cube') }}" alt="Mythrill" >
  <div class="card">
    <div class="wrapper">
      <img src="{{ url_for('static', filename='PageOff/assets/images/chessBack.jpg') }}" class="cover-image" />
    </div>
  </div>
</a>




<a href="{{ url_for('main.BoxCube') }}" alt="Mythrill" >
  <div class="card">
    <div class="wrapper">
      <img src="{{ url_for('static', filename='PageOff/assets/images/cubefront.jpg') }}" class="cover-image" />
    </div>
  </div>
</a>


     </div>
{% endblock %}