<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Item Hover Effects</title>
                    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/RelaxMenu.css') }}">
    </head>
    <body>
            <ul>
                <li><a href="{{ url_for('main.Campfire') }}" data-text="Campfire">Campfire</a></li>
                <li><a href="{{ url_for('main.christmas') }}" data-text="Christmas">Christmas</a></li>

            </ul>
    </body>
</html>
