{% extends 'sidebar.html' %}

{% block head %}
<title>Story Telling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='PageOff/assets/css/StoryTelling.css') }}">
{% endblock %}

{% block body %}

    <div class="containerStory">
        <div class="box" onclick="playAudio('batman')">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='PageOff/assets/images/batman.jpeg') }}" alt="Batman">
            </div>
            <div class="content">
                <div>
                    <h2>Batman</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
                </div>
            </div>
        </div>
        <div class="box" onclick="playAudio('spiderman')">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='PageOff/assets/images/spiderman.jpg') }}" alt="Spiderman">
            </div>
            <div class="content">
                <div>
                    <h2>Spiderman</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
                </div>
            </div>
        </div>
        <div class="box" onclick="playAudio('hulk')">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='PageOff/assets/images/hulk.jpg') }}" alt="Hulk">
            </div>
            <div class="content">
                <div>
                    <h2>Hulk</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
                </div>
            </div>
        </div>
        <div class="box" onclick="playAudio('ironman')">
            <div class="imgBx">
                <img src="{{ url_for('static', filename='PageOff/assets/images/ironmann.jpg') }}" alt="Ironman">
            </div>
            <div class="content">
                <div>
                    <h2>Ironman</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi accusamus molestias quidem iusto.</p>
                </div>
            </div>
        </div>
    </div>
    <audio id="storyAudio" controls style="display: none;"></audio>
    <script>
        function playAudio(character) {
            const audioElement = document.getElementById('storyAudio');
            audioElement.src = `/character_story_audio/${character}`;
            audioElement.style.display = 'block';
            audioElement.play();
        }
    </script>
{% endblock %}