<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Beemo{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- ========== HEADER ========== -->
    {% block header %} {% endblock %}
    <!-- ========== END HEADER ========== -->

    <!-- ========== END HEADER ========== -->

    <!-- ========== BODY CONTENT ========== -->
    <main>
      {% block body %}
      <!-- Default content can go here -->
      {% endblock %}
    </main>
    <!-- ========== END BODY CONTENT ========== -->
    <script>
      // Get the collapse element
      const collapseElement = document.getElementById("hs-header-scrollspy");

      // Get the toggle button
      const toggleButton = document.getElementById(
        "hs-header-scrollspy-collapse"
      );

      // Get all nav links
      const navLinks = document.querySelectorAll(".nav-link");

      // Function to toggle collapse
      function toggleCollapse() {
        collapseElement.classList.toggle("hidden");
      }

      // Add click event to each nav link
      navLinks.forEach((link) => {
        link.addEventListener("click", () => {
          if (window.innerWidth < 768) {
            toggleCollapse();
          }
        });
      });

      // Add click event to toggle button
      toggleButton.addEventListener("click", toggleCollapse);
    </script>
  </body>
</html>