<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Beemo{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- ========== HEADER ========== -->
    <!-- ========== HEADER ========== -->
    {% block header %} {% endblock %}
    <!-- ========== END HEADER ========== -->

    <!-- ========== END HEADER ========== -->

    <!-- ========== BODY CONTENT ========== -->
    <main>
      {% block body %}
      <!-- Default content can go here -->
      {% endblock %}
    </main>
    <!-- ========== END BODY CONTENT ========== -->
  </body>
</html>
