<div class="mt-4">
  <div>
    <h2 class="text-xl font-bold text-gray-900">Weekly Progress</h2>
    <p class="text-gray-500 pr-36">
      This section provides you with detailed insights into your child&apos;s
      weekly progress. It provides you with insights into your child&apos;s key
      interactions, allowing you to monitor their progress and identify areas
      for improvement.
    </p>
    <hr class="mt-4" />
  </div>
</div>
<div class="flex flex-col bg-white border shadow-sm rounded-xl">
  <div class="p-4 md:p-5 space-y-7">
    {% for goal in goals %}
    <div>
      <div class="mb-2 flex justify-between items-center">
        <div class="flex items-center gap-x-3">
          <div>
            <p class="text-sm font-medium text-gray-800">{{ goal.name }}</p>
          </div>
        </div>
        <div class="inline-flex items-center gap-x-2">
          {% if goal.progress == 100 %}
          <svg
            class="shrink-0 size-4 text-teal-500"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
            ></path>
          </svg>
          {% endif %}
        </div>
      </div>
      <div
        class="flex w-full h-2 bg-gray-200 rounded-full overflow-hidden"
        role="progressbar"
        aria-valuenow="{{ goal.progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="flex flex-col justify-center rounded-full overflow-hidden text-xs text-white text-center whitespace-nowrap transition duration-500 {% if goal.progress == 100 %} bg-teal-500 {% else %} bg-blue-500 {% endif %}"
          style="width: {{ goal.progress }}%;"
        ></div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div
    class="bg-gray-50 border-t border-gray-200 rounded-b-xl py-2 px-4 md:px-5"
  >
    <div class="flex flex-wrap justify-between items-center gap-x-3">
      <div>
        <span class="text-sm font-semibold text-gray-800"> 1 left </span>
      </div>
    </div>
  </div>
</div>